.App {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 10em;
}

/* body {
  overflow: hidden;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.delete-button {
  background-color: #dd4b39;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 2px;
  border-color: #dd4b39;
  color: #fff;
  text-shadow: 0 1px 0 #c04131;
  outline: none;
  padding: 5px 10px 5px 10px;
  margin: 10px;
}

.delete-button:hover {
  background-color: #dd4b39;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 2px;
  border-color: #af301f;
  color: #fff;
  text-shadow: 0 1px 0 #c04131;
  outline: none;
  padding: 5px 10px 5px 10px;
}

.delete-button:active {
  background-color: #dd4b39;
  font-size: 12px;
  font-weight: bold;
  border: 1px solid;
  border-radius: 2px;
  border-color: #dd4b39;
  color: #fff;
  text-shadow: 0 1px 0 #c04131;
  outline: none;
  padding: 5px 10px 5px 10px;
  box-shadow: inset 1px 1px rgba(0, 0, 0, 0.2);
}

.filter {
  max-width: 250px;
  margin-bottom: 5em;
}

.flex {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.recipe-item {
  justify-content: space-between;
  align-items: center;
  display: flex;
  border: 1px solid #000;
  max-width: 50em;
  padding: 10px;
  margin-bottom: 1px;
}

.recipe-item p {
  max-width: 40em;
  text-align: justify;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-item h2 {
}

.recipe-item button {
  align-self: center;
  justify-self: center;
}

.header-text {
  align-self: flex-start;
}
